/*body general*/
body {
    background-color: white;
    padding: 2em;
    font-size: medium;
    color: #0A1045;
}

/*Home containing Main-Menu and Pokemon*/
#home-page {
    display: flex;
    justify-content: space-between;
}

/*Main Menu with links to Home, Write and About*/
#main-menu {
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
}

/*links*/
a {
    text-decoration: none;
    color: #0A1045;
}

    /*links after being clicked*/
    a:visited {
        color: #0A1045;
    }

/*section for description in About*/
#about {
    display: flex;
    justify-content: center;
}

    /*description in About*/
    #about div {
        font-family: 'Roboto', sans-serif;
        justify-content: center
    }

/*profile picture in About*/
img.profile-picture {
    border-radius: 10px;
}

/*section for the list of works in Write*/
#write-list {
    display: flex;
    justify-content: center;
    text-align:center;
}

    /*the list of works in Write*/
    #write-list div {
        font-family: 'Roboto', sans-serif;
        justify-content: center
    }

/*section for the content of a Write work*/
#content {
    display: flex;
    justify-content: center;
}

    /*content of a Write work*/
    #content div {
        width: 700px;
        font-size: large;
        /*font-family: serif;*/
        font-family: 'Roboto', sans-serif;
    }

/*the text in a Write work*/
#written-text {
    text-align: justify;
}

/*all superscripts (for footnotes)*/
sup {
    vertical-align: top;
    font-size: small;
}

/*quotes text*/
#quote {
    text-align: center;
    font-style: italic;
}

/*quotes author*/
#quote-author {
    text-align: right;
    font-style: italic;
}